navbar {

  ion-content {
    font-size: 16px;
  }
  .main {
    background-color: #DEDEDE;
  }
  #top {
    background: #DEDEDE;
    color: black;
    padding-left: 20px;
    padding-top: 4px;
  }
  .title {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

}
